.footer-block{
    background-color: rgb(19, 18, 18);
    color: whitesmoke;
    margin-top: 100px;
    padding: 20px 10px;
    text-align: left;
    width: 100%;
}

.footer-block h4{
    text-align: center;
}

.footer-block a{
    color: whitesmoke;
    text-decoration: none;
    margin: 5px;
    padding-top: 10px;
}

.footer-block p{
    margin-top: 20px;
    
}