.banner{
    background-image: url('../../Images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg');
    width: 100%;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(3, 2, 12);
    opacity: .8;
}

.banner-btn{
    background-color: goldenrod;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

.video{
    background-image: url('../../Images/cross.png');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 3;
}

.btn-primary {
    background-color: #fcd842;
    color: #222;
    border-color: transparent;
    border-radius: 0;
    font-weight: 900;
    font-style: 2em;
    padding: 10px 40px;
    text-transform: uppercase;
}

img.play-icon{
    cursor: pointer;
}
.modal-video-body{
    max-width: 750px !important;

}

@media (min-width: 777px){
    .video{
        height: 100%;
    }
}