.catalogue{
    width: 100%;
    height: 100vh;
}

.row{
    height: 380px;
    width: 100%;
}
.text{
    color: #f9d94d;
    text-align: center;
}

.card{
    width: 32%;
    display: flex;
    justify-content: flex-end;;
    margin-left: 1.33%;
    margin-top: 20px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    padding-bottom: 40px !important;
}
.div_one{
    background-image: url('../../Images/hipcravo-5UbIqV58CW8-unsplash.jpg');
}
.div_two{
    background-image: url('../../Images/daniel-apodaca-WdoQio6HPVA-unsplash.jpg');
}
.div_three{
    background-image: url('../../Images/penguinuhh-8VI6WwEEEHw-unsplash.jpg');
}

.catalogue .card:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #1c234a59;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.catalogue .card img{
    width: auto;
    height: 50px;
    margin: 40px auto;
}

@media (max-width:775px){
    .card{
        width: calc(100% - 1.33%);
    }
}